.chartRoot {
  width: 100%;
  height: 100%;
  background-color: white;
  /* text-align: center; */
}
.chartHeader {
  margin: 0 auto 0;
  width: 800px;
  align-items: center;
  background-color: white;
  border: 1px solid rgba(169, 169, 169, 0.5);
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  padding: 15px;
  font-family: "Nanum Gothic";
}
.chartTitle {
  margin: 0 2rem;
  font-weight: 500;
}
.chartType {
  margin-right: 2rem;
}
.chartBody {
  text-align: center;
}
.chartDescription {
  font-family: "Nanum Gothic";
  width: 800px;
  margin: 0 auto;
}
.chartDescription h2,
p {
  text-align: left;
}
.downloadline{
  position: relative;
  margin-left: 82%;
}
.goBack {
  padding-bottom: 2rem;
}
