.reportRoot {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: white;
  /* text-align: center; */
}
.reportHeader {
  margin: 0 auto 0;
  width: 800px;
  align-items: center;
  background-color: white;
  border: 1px solid rgba(169, 169, 169, 0.5);
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  padding: 15px;
  font-family: "Nanum Gothic";
}
.reportTitle {
  margin: 0 2rem;
  font-weight: 500;
}
.reportType {
  margin-right: 2rem;
}
.reportBody {
  text-align: center;
}
.reportDescription {
  font-family: "Nanum Gothic";
  width: 800px;
  margin: 0 auto;
}
.reportDescription h2,
p {
  text-align: left;
}
