.trendBox{
  margin: 0 auto 0;
  width: 1000px;
}
.legend{
  width: 70%;
  margin: 0 0 0 400px;
}
.trendBox input{
  padding: 10px;
}
.progress{
  align-items: center;
  text-align: center;
}
.result-table{
  margin-top: 10px;
  margin-bottom: 15px;
}
.result{
  width: 50rem;
  margin: 0 auto 0;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}
.result__row:nth-child(1){
width: 2rem;
}
.result__row:nth-child(2){
  width: 15rem;
}
.result__row:nth-child(3){
  width: 3rem;
}
.result__row:nth-child(4){
  width: 18rem;
}
.result__row:nth-child(5){
  width: 10rem;
}

.clusterBox{
  margin: 0 auto 0;
  width: 1600px;
}

.cloudBox{
  margin: 0 auto 0;
  width: 1300px;
  text-align: center;
}
.cloudBox .comboBox{
  margin-left: 100px;
  padding: 10px;
  font-family: inherit;
}
.cloudBox span{
  display: flex;
}
.cloudBox h2{
  margin-top: 150px;
  margin-bottom: 60px;
}
