@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Poppins:300,400,500,700i700&display=swap');
$red: #e20001;
$black: #191919;
html,
  body{
    padding:0;
    margin:0;
    font-family: 'Poppins','Noto Sans KR', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  body{
      background: url(./images/background.jpg) no-repeat 50% 50%;
            background-size: cover;
    }
.page {
  visibility: hidden;
  height: 100vh;
  .container {
    width: 1280px;
    min-width: 1280px;
    .page-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 10%;
      height: 100vh;
      .page-content {
        width: 50%;

        .page-content-inner {

          width: 600px;
          color: #323232;
          margin: 0 auto;
          h1 {
            margin-left: 10%;
              font-weight: 700;
              font-size: 40px;
              margin-bottom: 45px;
              .page-content-line {
                margin: 0;
                height: 66px;
                overflow: hidden;
                color: white;
                .page-content-line-inner {
                }
              }
            }
            p {
              margin-left: 10%;
              font-size: 14px;
              line-height: 24px;
              font-weight: 300;
              padding-right: 48px;

              color: white;

              background-color:$black;
            }
          .btn-row {
            position: relative;
            &:before {
              position: absolute;
              content: "";
              width: 56px;
              height: 1px;
              background: #dfdfdf;
              top: 50%;
              left: -68px;
            }

          }
        }
      }
      .page-images {
        width: 50%;
        margin-top: 5%;
        left: 120px;
        height: 80vh;
        position: relative;
        .page-images-inner {
          .page-image {
            position: absolute;
            overflow: hidden;
             &.wordcloud {
              top: 0;
              right: 0px;
              width: 50%;
              height: 40%;
            }
            img {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
